<h1>Categories</h1>
<!--% @categories.each do |category|%-->
<!--%= category.name %-->
<!--%end%-->


<% @categories.where("name is not null" ).each do |cat| %>

	<%= link_to cat.name, cat %><br/>
	<% cat.products.each do |p|%>
	<%= p.name %>
<%= p.price%>
<%= p.description %><br/>
<%end%>

	<% end %>